* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

input {
  font-size: larger;
  padding: 10px;
  font-family: "Times New Roman", Times, serif;
  position: fixed;
  left: 40vw;
  top: 0;
}

input:focus {
  outline: none;
}

#d {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: -1;
}

#d:hover {
  cursor: pointer;
}

ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  gap: 10px;
  border: 1px solid;
  margin: 4px;
  margin-top: 1.5rem;
  padding: 2rem;
  border-radius: 4px;
}

p::first-letter {
  text-transform: capitalize;
}

li {
  margin: 2px;
  font-size: large;
  border: 1px solid;
  height: 35px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}

p {
  text-align: center;
  padding: 10px;
}

li:hover {
  cursor: pointer;
}
